<div class="featured">
  <h3>Featured Degree at UHD</h3>
  <p>
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has
    roots in a piece of classical Latin literature from 45 BC, making it over
    Contrary to popular belief, Lorem Ipsum is not simply random text. It has
    roots in a piece of classical Latin literature from 45 BC, making it over
  </p>
  <tabset class="featBtn" [justified]="true">
    <tab heading="BUSINESS" id="tab1">
      <div class="heading"><h3>Why Choose Business</h3></div>
      <div class="row busdetail">
        <div class="col-12 col-md-4 text">
          <h3>Affordability</h3>

          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
        <div class="col-12 col-md-4 text">
          <div><h3>Flexibility</h3></div>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
        <div class="col-12 col-md-4 text">
          <div><h3>Earning Ability</h3></div>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
      </div>
    </tab>

    <tab heading="COMPLETION"
      ><div class="heading"><h3>Why Choose UHD</h3></div>
      <div class="row busdetail">
        <div class="col-12 col-md-4 text">
          <h3>Flexibility</h3>

          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
        <div class="col-12 col-md-4 text">
          <div><h3>Affordability</h3></div>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
        <div class="col-12 col-md-4 text">
          <div><h3>Hampden-Sydney</h3></div>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
      </div></tab
    >
    <tab heading="CRIMINAL JUSTICE"
      ><div class="heading"><h3>Criminal justice</h3></div>
      <div class="row busdetail">
        <div class="col-12 col-md-4 text">
          <h3>Affordability</h3>

          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
        <div class="col-12 col-md-4 text">
          <div><h3>Flexibility</h3></div>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
        <div class="col-12 col-md-4 text">
          <div><h3>Earning Ability</h3></div>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
      </div></tab
    >
    <tab heading="EDUCATION"
      ><div class="heading"><h3>Why Choose UHD</h3></div>
      <div class="row busdetail">
        <div class="col-12 col-md-4 text">
          <h3>Affordability</h3>

          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
        <div class="col-12 col-md-4 text">
          <div><h3>Flexibility</h3></div>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
        <div class="col-12 col-md-4 text">
          <div><h3>Earning Ability</h3></div>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
      </div></tab
    >
    <tab heading="HUMANITIES & SOCIAL SCIENCE"
      ><div class="heading"><h3>Why Choose UHD</h3></div>
      <div class="row busdetail">
        <div class="col-12 col-md-4 text">
          <h3>Affordability</h3>

          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
        <div class="col-12 col-md-4 text">
          <div><h3>Flexibility</h3></div>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
        <div class="col-12 col-md-4 text">
          <div><h3>Earning Ability</h3></div>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
      </div></tab
    >
    <tab heading="PUBLIC SERVICE"
      ><div class="heading"><h3>Why Choose UHD</h3></div>
      <div class="row busdetail">
        <div class="col-12 col-md-4 text">
          <h3>Affordability</h3>

          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
        <div class="col-12 col-md-4 text">
          <div><h3>Flexibility</h3></div>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
        <div class="col-12 col-md-4 text">
          <div><h3>Earning Ability</h3></div>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
      </div></tab
    >
    <tab heading="SCIENCE"
      ><div class="heading"><h3>Why Choose UHD</h3></div>
      <div class="row busdetail">
        <div class="col-12 col-md-4 text">
          <h3>Affordability</h3>

          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
        <div class="col-12 col-md-4 text">
          <div><h3>Flexibility</h3></div>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
        <div class="col-12 col-md-4 text">
          <div><h3>Earning Ability</h3></div>
          <p>
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC,
            making it over 2000 years old. Richard McClintock, a Latin professor
            at Hampden-Sydney College in Virginia, looked up one of the more
            obscure Latin words, consectetur, from a Lorem Ipsum passage, and
            going through the cites of the word in
          </p>
        </div>
      </div></tab
    >
  </tabset>

  <!-- <mat-grid-list cols="4" cols-md="6" rowHeight="3:1">
            <mat-grid-tile><button (click)="showBlock('business')" name="First">BUSINESS</button></mat-grid-tile>
            <mat-grid-tile><button  (click)="showBlock('completion')">COMPLETION</button></mat-grid-tile>
            <mat-grid-tile><button>CRIMINAL JUSTICE</button></mat-grid-tile>
            <mat-grid-tile><button>EDUCATION</button></mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="3" rowHeight="4:1">
            <mat-grid-tile><button>HUMANITIES & SOCIAL SCIENCE</button></mat-grid-tile>
            <mat-grid-tile><button>PUBLIC SERVICE</button></mat-grid-tile>
            <mat-grid-tile><button>SCIENCE</button></mat-grid-tile>
           
          </mat-grid-list>

           <div *ngIf="showblock" class="business">
            <div class="heading"><h3>Why Choose UHD</h3></div>
            <div class=" row busdetail">
                <div class="col-12 col-md-4 text">
                    <h3>Affordability</h3>
                  
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in</p>
                </div>
                <div class="col-12 col-md-4 text">
                    <div><h3>Flexibility</h3></div>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in</p>
                </div>
                <div class="col-12 col-md-4 text">
                    <div><h3>Earning Ability</h3></div>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in</p>
                </div>
            </div>
          </div> 
          -->
  <!-- <mat-tab-group animationDuration="0">
            <mat-tab label="First" >Content 1</mat-tab>
            <mat-tab label="Second">Content 2</mat-tab>
            <mat-tab label="Third">Content 3</mat-tab>
            <mat-tab label="First">Content 1</mat-tab>
          </mat-tab-group>
          <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start">
            <mat-tab label="First">Content 1</mat-tab>
            <mat-tab label="Second">Content 2</mat-tab>
            <mat-tab label="Third">Content 3</mat-tab>
          </mat-tab-group>

          <mat-tab-group>
            <mat-tab label="heading">
              <h3>1st Heading</h3>
            </mat-tab>
            <mat-tab label>
              <h3>1st Heading</h3>
            </mat-tab>
          </mat-tab-group>
          -->
</div>
